.titulo-principal{
    font-size: 40px;
    font-family: 'Lexend', sans-serif;
    color: rgb(255, 0, 98);
    font-weight: bold;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ffffff;
}

.video-container video{
    width: 100%;
    top: 0;
    left: 200;
    width: 940px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    display: block;
    
  }


.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

